<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link href="./css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="./css/app.css" />
</head>

<body>
  <div id="app">
    <div class="container">
      <center>
        <h1 style="padding: 20px">Handling images with Vue</h1>
        <br />
      </center>
      <div class="row">
        <div class="col-md">
          <div class="card" style="width: 18rem;">
            <div title="Remove image" class="close" v-show="images[0].content" @click="removeImage(0)"></div>
            <img class="card-img-top" v-if="images[0].content" alt="Card image cap" :src="images[0].content"
              width="200px" style="padding: 20px; border-radius: 30px;" />
            <div class="card-body">
              <h5 class="card-title">Image Render</h5>
              <p class="card-text">
                Basic example showing a image render operation. The image
                dimension will be defined by html5 constraints or style rules.
              </p>
              <div class="upload-btn-wrapper">
                <button class="btn btn-success">
                  {{ images[0].content ? "Replace image" : "Upload image" }}
                </button>
                <input type="file" @change="onImage(0, $event)" accept="image/*" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div title="Remove image" class="close" v-show="images[1].content" @click="removeImage(1)"></div>
            <img class="card-img-top" v-if="images[1].content" alt="Card image cap" :src="images[1].content"
              width="200px" style="padding: 20px; border-radius: 30px;" />
            <div class="card-body">
              <h5 class="card-title">Input file (active resize)</h5>
              <p class="card-text">
                Soon after the file is received, its size (bytes) is checked.
                If the uploaded content is too large, a resize operation will
                be performed changing the original file content.
              </p>
              <div class="upload-btn-wrapper">
                <button class="btn btn-success">
                  {{ images[1].content ? "Replace image" : "Upload image" }}
                </button>
                <input type="file" @change="onImage(1, $event)" ref="img-one" accept="image/*" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 18rem;">
            <div title="Remove image" class="close" v-show="images[2].content" @click="removeImage(2)"></div>
            <center>
              <!-- Image drop area -->
              <div @drop="onImage(2, $event)"
                :class="dragEnter ? ['ondrag-enter'] : images[2].content ? ['drop']:['drop', 'ondrag-leave']"
                class="drop" @dragover.prevent @dragenter="dragEnter = true" @dragleave="dragEnter = false">
                <h4 v-show="!images[2].content">Drop your image here</h4>
                <img class="card-img-top" :src="images[2].content" width="200px" ref="resize" />
              </div>
            </center>
            <div class="card-body">
              <h5 class="card-title">Drag and drop</h5>
              <p class="card-text">
                Drag and drop is a very common feature. It is when you "grab"
                an object and drag it to a different location.
              </p>
              <div class="upload-btn-wrapper">
                <button class="btn btn-success">
                  {{ images[2].content ? "Replace image" : "Upload image" }}
                </button>
                <input type="file" @change="onImage(2, $event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/vue.js"></script>
  <script src="./js/app.js"></script>
</body>

</html>